div.group,
.duplicator,
.duplicator > .controls,
.duplicator > .instance,
.duplicator > .instance > .content {
	overflow: visible;
}

.settings {
	padding-bottom: 3em;
}

.settings .contextual div.group, .settings > div.group {
	margin-bottom: 0;
	padding-bottom: 0;
}

.settings > .contextual > .duplicator,
.settings > label:last-child {
	margin-bottom: 0;
}

div.group:after {
	clear: left;
	display: block;
	content: " ";
	height: 1%;
}

.duplicator > .controls.top {
	overflow: hidden;
}

.duplicator > .controls .selectbox {
	top: 1px;
}

.duplicator > .instance {
	margin: 0;
	padding: 0;
	position: static;
}

.duplicator > .instance > .header {
	clear: none;
}

.duplicator.collapsible > .instance > .header {
	clear: both;
}


.group label > .selectbox {
	display: block;
}

.group label >.selectbox .current {
	width: auto !important;
}
