/*-----------------------------------------------------------------------------
	General
-----------------------------------------------------------------------------*/

label input, textarea {
	padding: 0 5px;
	margin-top: 1px;
	border: 1px solid #AFAFAF;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background: rgb(250, 250, 250);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.00, rgb(250, 250, 250)),
		color-stop(0.95, rgb(242, 242, 242))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(250, 250, 250) 0%,
		rgb(240, 240, 240) 95%
	);

	color: #444;
	font: 11px/22px 'Lucida Grande', Tahoma, Verdana, sans-serif !important;
	text-align: left;

	-webkit-box-shadow: 0 0 2px rgb(200, 200, 200), inset 0 1px 1px rgb(255, 255, 255);
	-moz-box-shadow: 0 0 2px rgb(200, 200, 200), inset 0 1px 1px rgb(255, 255, 255);
	box-shadow: 0 0 2px rgb(200, 200, 200), inset 0 1px 1px rgb(255, 255, 255);
}

/*--- Compatibility ---*/

.group.contextual.sections + label input[type=checkbox] {
	vertical-align: top;
	position: relative;
	top: 4px;
}
